/* Estilos generales */
.light-mode {
  background-color: var(--color-crimson);
}

.dark-mode {
  background-color: rgb(168, 161, 161);
}

.login-container {
  align-items: center;
  font-family: var(--font-base);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  height: 60vh;
}

.login-container h1 {
  padding-bottom: 50px;
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_inputs input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}

.toggle-registration {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.login-form button[type="submit"] {
  font-size: 20px;
  background-color: rgb(161, 129, 129);
  color: white;
  border-color: wheat;
}

/* Estilos específicos */
.login-form {
  color: white;
}

.toggle-registration {
  background-color: transparent;
  color: rgb(41, 33, 33);
}
