.app__header {
    background-color: var(--color-crimson);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-black);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.header__logo-img {
    width: 120%;
}