.app__header.light-mode {
    background-color: var(--color-crimson);
}
.app__header.dark-mode {
    background-color: rgb(168, 161, 161);
}

.app__wrapper_info {
    font-family: var(--font-base);
    color: var(--color-black);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 157px;
    font-size: 90px;
    margin-bottom: -20px;
}
.p__opensans{
    font-family: var(--font-base);
    color: var(--color-black);
    letter-spacing: 0.005em;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 20px;

}
.header__logo-img {
    width: 120%;
}

.app__home {
    position: relative;
  }
  
.app__home-bg-img {
    width: 100%;
    height: 600px;
    display: block;
    filter: brightness(70%);
}
  

.app__home-container {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
}
.app__home-carousel{
    margin-left: 130px;
}
.app__home-carousel img{
    width: 100px;
    height: 500px;
    display: flex;
    filter: brightness(70%);
    margin: 0 auto;
}



.Letter {
    text-shadow: 15px 4px 15px black;
    line-height: 117px;
    font-size: 90px;
}

.line {
    border-top: 3px solid rgb(250, 71, 71);
    width: 80%;
    height: 0;
  }